@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255, 255, 255, 0);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
  --primary-blue: #24a0ed;
}

body {
  font-family: "Roboto Condesed", sans-serif;
}

.App {
  text-align: center;
}

/* Menu links */
#logo{
  background: url("logo.png");
  height: 56px;
  width: 56px;
  display: inline-flex !important;
  z-index: 2;
}

nav a.nav-link {
  /* font-weight: 500; */
  letter-spacing: 0.0375rem;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  color: var(--primary-white) !important;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  border-bottom: 3px solid var(--primary-dark);
  border-end-end-radius: 40%;
}


.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-bottom: 3px solid var(--primary-blue);
  border-end-end-radius: 40%;
}

.navbar-nav > li > a:hover {
  border-bottom: 3px solid var(--primary-blue);
  border-end-end-radius: 40%;
}

.navbar-brand{
  font-family: "Freestyle Script";
}

#name{
  color: var(--primary-blue);
}

/********************** HEADER ***************/
/* .header-wrapper{
  position: relative;
  /* background: url(background.png) no-repeat !important; */
  /* background-size: cover;
  background-position: center;
  height: 90vh;
  z-index: 0; 
} */

.header-wrapper{
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  z-index: -1;
}

video{
  object-fit: cover;
  width: 100%;
  height: 600px;
  position: absolute;
  z-index: -1;
}

.btn-container{
  margin-top: 20%;
  margin-left: -10%;
  font-size: 1.5em;
}

.btn {
  font-size: 50;
}

.main-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condesed", sans-serif;
}

.main-info h1{
  color: silver;
  text-transform: uppercase;
}


/********************** HEADER MAIN OFFER BUTTON ***************/

.btn-main-offer {
  border: 1px solid var(--primary-red);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  margin: 2rem;
  text-decoration: none;
}

/******************** TYPED TEXT *******************************/

.typed-text{
  font-size: 2rem;
  color: var(--primary-orange);
}

/********************** ABOUT ME ***************/


.text-wrapper{
  z-index: 100;
  margin-top: 5px;
  background: black;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.textBox{
  --s:400px;  /*Size of the circle */
  --p:15px;  /* padding */

  height: var(--s);
  width:  var(--s);
  border-radius: 50%;
  margin-top: 70px;
  margin-left: 20%;
  margin-right: none;
  float: left;
  color: silver;
}

.textBox i,
.textBox::before {
  content: '';
  float: left;
  height:100%;
  width: 50%;
  shape-outside: radial-gradient(farthest-side at right, transparent calc(100% - var(--p)), #fff 0);
}

.textBox i {
  float: right;
  shape-outside: radial-gradient(farthest-side at left,  transparent calc(100% - var(--p)), #fff 0);
}



.textBox h1 {
  text-align: center;
}

.textBox p{
  text-align: center;
  font-style: italic;
  margin-left: -20px;
}

.profilephoto{
  border: 1px solid white;
  background: url(profilephoto.jpg);
  height: 300px;
  width: 300px;
  float: left;
  margin-left: 70px;
  margin-top: 100px;
  border-radius: 100%;
  background-size: 300px;
  /* background-image: url("/.john.png"); */
}

h1{
  color: silver;
}
/* .textBox::before {
  content: "";
  width: 50%;
  height: 100%;
  float: left;
  shape-outside: polygon(
    0 0,
    98% 0,
    50% 6%,
    23.4% 17.3%,
    6% 32.6%,
    0 50%,
    6% 65.6%,
    23.4% 82.7%,
    50% 94%,
    98% 100%,
    0 100%
  );
  shape-margin: 7%;
  margin-left: -150px;

} */

/* .textBox p::before {
  content: "";
  width: 50%;
  height: 100%;
  float: right;
  shape-outside: polygon(
    2% 0%,
    100% 0%,
    100% 100%,
    2% 100%,
    50% 94%,
    76.6% 82.7%,
    94% 65.6%,
    100% 50%,
    94% 32.6%,
    76.6% 17.3%,
    50% 6%
  );
  shape-margin: 7%;
} */

#container{
  background-color: #010025;
  color: silver;
}

.container text-center{
  height: 3000vh;
  width: 1000px;
}

.col-sm-5{
  height: 340px;
  width: 500px;
  border: 10px solid #dff2fb;
  float: left;
  cursor: pointer;
}

#project1{
  background: url(filmfestival.png) center center;
  background-size: cover;
}

#project2{
  background: url(wordpress.png) center center;
  background-size: cover;
}

#project3{
  background: url(quoteGenerator.png) center center;
  background-size: cover;
}

#project4{
  background: url(game.png) center center;
  background-size: cover;
}

#project5{
  background: url(restaurant.png) center center;
  background-size: cover;

}

#project6{
  background: url(wordpress.png) center center;
  background-size: cover;
}

/*----------------Footer-------------------*/
.footer{
  width: 100%;
  height: 70px;
  padding: 20px;
}

.item.social>a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  /* box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4); */
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
}

.item.social>a:hover {
  opacity: 0.9
}

.col.item.social{
  width: 400px !important;
}
span{
  color: lightgray;
}

#contact{
  margin-right: 10px;
}

#envelope{
  margin-top: 10px;
}

@media only screen and (max-width: 600px) {
  .textBox{
    margin-left: 50px;
    height: 300px;
    width: 300px;
    font-size: 3vw;
    --s: 300px;
  }

  .textBox p{
    font-size: 3vw;
  }

  .profilephoto{
    height: 200px;
    width: 200px;
    background-size: 200px;
    margin-left: 100px;
  }

  #blog-button{
    margin-left: 50px important!;
  }

  .btn{
    margin-left: 100px important!;
  }

  .footer{
    height: 100px;
  }
}
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */